@{
    ViewData["Title"] = "About Joel";
}

<br/>
<br/>
<br/>

<!-- Header --> 
<div>
    <h2>Get to Know Joel</h2>
</div>
<br/>
<br/>

<!-- Quick Wits Comedy Section -->
<section>
    <div>
        <h4>
            Quick Wits Comedy
        </h4>
        <p>
            The venue where Joel performs regularly: <a href="https://www.qwcomedy.com/">https://www.qwcomedy.com/</a>
        </p>
    </div>
</section>

<!-- Baconsale Section -->
<br/>
<section>
    <div>
        <h4>
            Baconsale
        </h4>
        <p>
            Joel does a weekly podcast about films and pop culture found here: <a href="https://baconsale.com/">https://baconsale.com/</a>
        </p>
    </div>
    <div style="text-align: center;">
        <br/>
        <a href="https://baconsale.com/" target="_blank">
            <img src="~/baconsale.jpg" height="600px"/>
        </a>
        <div>
            <p>
                Picture of baconsale, used with permission.
            </p>
        </div>
    </div>
</section>